@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 400;
}

button {
  color: white;
  display: block;
  width: 197px;
  height: 75px;
  background-color: #326BFF;
  border-width: 0px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 24px;
}

.App {
  text-align: center;
}

.black-container {
  background-color: black;
  color: white;
}

.white-container {
  background-color: white;
  color: black;
}

.black-container, .white-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
}
.timer-textbox {
  margin-top: 239px;
}

.winner-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.btn-play-again {
  margin-top: 116px;
}

.black-wins {
  background-color: black;
  color: white;
}

.white-wins {
  background-color: white;
  color: black;
}

.winner-textbox {
  margin-top: 207px;
}

.player-turn-container {
  display: flex;
  flex-direction: row;
  margin-top: 97px;
}







